@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css */
 

body {
  /* font-size: larger;
  font-family: 'Satoshi-Variable', sans-serif; Use the font-family name you specified */
  font-family: 'Satoshi', sans-serif;
}


.no-scrollbar::-webkit-scrollbar { 
  display: none; 
}

.notion-page-content-inner{
  color: #a2a2a2;
}
.notion-h{
  color: #FFFFFFE6;
}
.notion-page-scroller, .notion-frame{
  background-color: #1a1818;
}